h1,
.h1 {
  font-family: Helvetica, Arial, "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  font-size: 4.875rem;
  font-weight: 700;
  line-height: 1.2;
}

h2,
.h2 {
  font-family: "Monaco", "Lucida Console", monospace;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.35;
}

.text-m {
  font-family: "Monaco", "Lucida Console", monospace;
  font-size: 1.125rem;
  line-height: 1.35;
}

.l-container {
  width: 100%;
  padding-left: 4rem;
  padding-right: 4rem;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  font-family: "Monaco", "Lucida Console", monospace;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 40rem;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input,
select,
button {
  outline: none;
}

a,
label,
input,
select,
button {
  -webkit-tap-highlight-color: transparent;
}

.f-clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.h-visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.example {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 2.75rem;
  padding-bottom: 2rem;
  color: #ffffff;
  background-color: #dc4c48;
  background-image: -webkit-gradient(linear, right top, left top, from(#dc4c48), color-stop(#ec464a), to(#dc4c48));
  background-image: -o-linear-gradient(right, #dc4c48, #ec464a, #dc4c48);
  background-image: linear-gradient(to left, #dc4c48, #ec464a, #dc4c48);
}

.example__title {
  margin-top: 0;
  margin-bottom: 2.25rem;
  color: #ee6460;
}

.example__main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -2.75rem;
  margin-bottom: -2.75rem;
}

.example__section {
  margin-right: 2.75rem;
  margin-bottom: 2.75rem;
}

.example__section_wide {
  min-width: 100%;
}

.example__section-title {
  margin-top: 0;
  margin-bottom: 0.875rem;
}

.example__commands-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 45rem;
  margin-bottom: -0.625rem;
}

.example__code-block {
  position: relative;
  display: inline-block;
  min-width: 12.25rem;
  min-height: 3.25rem;
  padding-top: 0.8125rem;
  padding-right: 2.25rem;
  padding-bottom: 0.9375rem;
  padding-left: 2.25rem;
  margin-right: 2.75rem;
  margin-bottom: 0.625rem;
  color: #4efe24;
  border-radius: 0.25rem;
  background-color: #3c4640;
  -webkit-box-shadow: 0rem 0.125rem 0.625rem rgba(68, 72, 66, 0.3);
          box-shadow: 0rem 0.125rem 0.625rem rgba(68, 72, 66, 0.3);
}

.example__code-block:last-child {
  margin-right: 0;
}

.example__code-block::before {
  position: absolute;
  top: 0.8125rem;
  left: 0.875rem;
  content: '$';
  line-height: 1.5rem;
}

.example__next-icon {
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 0.75rem;
  height: 1.375rem;
  -webkit-transform: translate(1rem, -0.6875rem);
      -ms-transform: translate(1rem, -0.6875rem);
          transform: translate(1rem, -0.6875rem);
  fill: #ffffff;
}

.example__next-icon svg {
  max-width: 100%;
  max-height: 100%;
}

.example__footer {
  padding-top: 4rem;
  margin-top: auto;
}

.example__link {
  padding-bottom: 0.25rem;
  -webkit-transition: 100ms;
  -o-transition: 100ms;
  transition: 100ms;
  color: #ffffff;
  border-bottom: 0.0625rem solid #ffffff;
  text-decoration: none;
  line-height: 2.25rem;
}

.example__link:hover {
  padding-bottom: 0.3125rem;
  border-bottom-width: 0.125rem;
}

/* .png-icon_windows:hover {
  @extend .png-icon_windows_hovered;
} */
