.example {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  padding-top: rem(64);
  padding-bottom: rem(64);

  background-color: $color-spiro-disco-ball;


  &__title {
    margin-top: 0;
    margin-bottom: rem(20);
  }


  &__description {
    margin-top: 0;
    margin-bottom: rem(12);


    &:last-child {
      margin-bottom: 0;
    }
  }
}
    