doctype html
html(lang='ru-RU')
  head
    meta(charset='utf-8')
    
    block title
      title Page Title
        
    include _includes/_page-head
      

  body
    block body
      
    include _includes/_page-foot