html {
  box-sizing: border-box; // Border-box Fix

  font-size: 16px;
}


// Border-box Fix
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0 auto;
}


button {
  cursor: pointer;

  outline: none;
}


input {
  outline: none;
}


.f-clearfix::after {
  content: '';
  display: table;
  clear: both;
}