$primary-font-family: 'Monaco', 'Lucida Console', monospace;
$secondary-font-family: Helvetica, Arial, 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;


// @font-face {
//   font-family: 'Open Sans';
//   src: '../fonts/OpenSans-Bold.ttf' format('truetype');
//   font-weight: 700;
//   font-style: normal;
// }


h1,
.h1 {
  font-family: $secondary-font-family;
  font-size: rem(78);
  font-weight: 700;
  line-height: 1.2;
}


h2,
.h2 {
  font-family: $primary-font-family;
  font-size: rem(18);
  font-weight: 400;
  line-height: 1.35;
}


.text {
  
  
  &-m {
    font-family: $primary-font-family;
    font-size: rem(18);
    line-height: 1.35;
  }
}